<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="contents">
        <h1>All Blogs | Home</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Facere corporis ea aliquid vero pariatur quas sint et, 
            velit sequi accusantium illum asperiores esse praesentium 
            quaerat deleniti quos earum provident corrupti?
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>