*{
    margin: 0;
    padding: 0;
}

body{
    background: beige;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
    color: deepskyblue;
}

a{
    text-decoration: none;
}

.contents{
    width: 80%;
    margin: 20px auto;
}