<div class="site-title">
    <a href="/">
        <h1>blog</h1>
    </a>
</div>

<ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/create">create</a></li>
</ul>